@import "../variables/";
@import url("https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap");
.upload {
  width: 100%;
  height: 100%;
  font-family: "Poetsen One";
  @include flex-center;

  &__container {
    height: 75%;
    width: 75%;
    background-color: $secondary;
    border-radius: 100px;
    border: 0.2px solid $grey-border;
    @include flex-center;
    gap: 10px;
    flex-direction: column;
  }
}
