$primary : #171821;
$secondary : #21222D;
$active: #ADDFD8;
$white : #fff;

$red : #fd555d;
$red-blur1 : #ff9093;
$red-blur2 : #ffd2d4;

$grey : #c2c9db;
$grey-border : #cfd3da;
$grey-icon : #b4bed0;

$yellow : #ffc700;
$yellow-blur1 : #ffe48e;
$yellow-blur2 : #fff5d2;

$green : #00cf00;
$green-blur1 : #78e794;
$green-blur2 : #ccf6d4;

$pink : #fb007c;
$pink-blur2: #fff5f9;

$orange : #ff5713;

$orange-blur2: #fff7f5;

$brown : #da6e00;
$brown-blur2: #fffcf4;